:root {
    --color-of-success: #4BB543;
    --color-of-fail: red;
}
body {
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-image: url('../Images/Wallpaper-app.jpg');
}
* {
    font-family: 'Assistant', sans-serif;
}
.app-container {
    width: 800px;
    height: 450px;
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #ddd;
    border-radius: 10px;
    overflow:hidden;
}
.app-container h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: white;
}
.app-container header {
    width: 100%;
    height: 40px;
    background-color: #00adef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
}
.app-container header i {
    position: absolute;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 2px;
    color:white;
    cursor: pointer;
}
.app-container form {
    width: 100%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.app-container form input[type="text"] {
    width: 90%;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
    outline: none;
    margin-right: 0;
    border-radius: 5px;
    margin-left: 40px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 10px;
    background-color: white;
    font-weight: 600;
}
.app-container form input[type="text"]:nth-of-type(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 78%;
}
.app-container form select {
    width: 96px;
    height: 37px;
    font-size: 15px;
    margin-left:-5px;
    padding: 0; 
    outline: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(177, 177, 177);
}
.app-container input[type="date"] {
    outline: none;
    text-align: center;
    padding: 5px;
    width: 20%;
    font-size: 15px;
    display: block;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.app-container input[type="button"] {
    display: block;
    margin:  0 auto;
    margin-top: 40px;
    width:250px;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    background-color: rgb(30, 219, 5);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.app-container input[type="button"]:hover {
    background-color: rgb(29, 199, 6);
}
.app-container span {
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 17px;
    float: left;
}
.app-container span, label {
    color: white;
}
.app-container form input[type="checkbox"] {
    width: 20px;
    margin-left: 40px;
    margin-top: 20px;   
    cursor: pointer;
    background-color: white;
}
.app-container form  label {
    cursor: pointer;
    font-size: 17px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 500;
}
#reason-why-error {
    width: 57%;
    display: none;
}
/*menu styles*/
.menu-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    transform: translateX(-100%);
    transition: 1s;
    font-weight: 500;
}
.menu-panel header {
    padding-top: 10px;
}
.menu-panel h1 i {
    position: relative;
    margin-right: 5px;
}
.menu-panel ul {
    list-style: none;
    margin-top: 50px;
}
.menu-panel ul li {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.menu-panel ul li:hover {
    padding-left: 10px;
    transition: .3s;
    color: #00adef;
}
.menu-panel ul li i{
    margin-right: 10px;
}
#config-submenu {
    margin: 0;
    display: none;
}
#config-submenu label {
    cursor: pointer;
}
#state-connection-hosvital {
    position:
    absolute;
    bottom:10px;
    color: red;
    font: bold;
}
.hide-win-menu {
    transform: translateX(-100%);
    transition: 1s;
}
.show-win-menu {
    transform: translateX(0%);
    transition: 1s;
}
.alert-state {
    width: 450px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 5px;   
}
.transition-show {
    transform: translateX(110%);
    transition: .5 linear;
}
.transition-hide {
    transform: translateX(0%);
    transition: .5s ease-out;
}
.alert-state i:nth-child(1) {
    position: absolute;
    right: 5px;
    top:5px;
    color: white;
    cursor: pointer;
}
.alert-state i:nth-child(2) {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
}
.alert-state p {
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 18px;
    color: white;
}
/* .alert-state i {
    margin-right: 5px;
}
.close-alert {
    position: absolute; 
    right: 10px;
    cursor: pointer;
}
.from-top-bottom-alert {
    transform: translateY(0%);
    transition: .3s linear;
}
.from-bottom-top-alert {
    transform: translateY(-110%);
    transition: .3s linear;
} */
.box-generate-info input[type="date"], .select-of-report{
    width: 70%;
    float: right;
    margin-right: 10px;
}
.box-generate-info header {
    text-align: center;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-generate-info header i {
    position: absolute;
    left: 10px;
    font-size: 25px;
}
.box-generate-info button {
    display: block;
    margin: 0 auto;
    margin-top: 240px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
.box-generate-info span {
    font-size: 19px;
}
.select-of-report {
    width: 71%;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
.container-query-main {
    width: 1000px;
    height: 630px;
    background-color:white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-radius: 10px;
}
.container-query-main header {
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: #00adef;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-conditions {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-conditions span {
    font-size: 18px;
    background-color: rgb(29, 199, 6);
    color:white;
    font-weight: bold;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    padding-top: 0;
    display: inline-block;
    margin-top: 5px;
}
.container-conditions select {
    margin-top: 10px;
    height: 22px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}
.container-conditions input[type="text"] {
    width: 250px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0;
    font-size: 15px;
    padding: 2px;
    text-align: center;
}
.information-view-patient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    display: none;
}
.container-info-view-patient {
    width: 90%;
    height: 98%;
    margin: 0 auto;
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
}
.container-info-view-patient header {
    width: 100%;
    background-color: #00adef;
    text-align: center;
    color: white;
    font-size: 23px;
    padding: 5px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    padding: 10px;
    font-weight: 700;
}
.container-info-view-patient header i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    background-color:transparent;
    font-size:25px;
    padding:0px;
    margin-right:10px;
    margin-top:2px;
}
.container-info-view-patient header i:nth-of-type(1) {
    right: 50px;
    top: 5px;
    background-color: rgb(30, 219, 5);
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.container-table-view-patient {
    width: 98%;
    height: 85vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.container-table-view-patient table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}
.container-table-view-patient th, tr, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: white;
}
.container-table-view-patient tr, td {
    color: black;
    text-align: center;
    padding: 5px;
}
.container-table-view-patient th {
    background-color: rgb(30, 219, 5);
}
/* search patient by patient*/
.search-by-patient {
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
    display: none;
}
.container-create-query {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);

}
.search-by-patient button {
    background-color: rgb(29, 199, 6);
    padding: 5px;
}
.container-create-query select{
    margin-top: 25px;
    width: 25%;
    font-size: 15px;
}
.container-create-query select {
    cursor: pointer;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    height: 25px;
}
.container-create-query input {
    width: 45%;
    height: 20px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 15px;

}
/* Hosvital information patient by name */
.information-panel-hosvital-name {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
.container-hosvital-name {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
}
.container-hosvital-name::-webkit-scrollbar {
    width: 10px;
}
.container-hosvital-name::-webkit-scrollbar-thumb {
    background-color: grey;
}
.container-hosvital-name header {
    background-color: #00adef;
    text-align: center;
    padding: 3px;
    color: white;
    border-top-left-radius: 5px;
    font-weight: bold;
    font-size: 21px;
}
.container-hosvital-name header i:nth-of-type(1 ) {
    margin-right: 5px;
}
.container-hosvital-name header i:nth-of-type(2) {
    position: absolute;
    right: 10px;
    top: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
#information-table-hosvital-name {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
#information-table-hosvital-name th, td, tr{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
#information-table-hosvital-name th {
    background-color: rgb(29, 199, 6);
    font-size: 16px;
    font-weight: normal;
    position: sticky;
    top: -1px;
}
#information-table-hosvital-name td {
    font-size: 15px;
}
#information-table-hosvital-name tr:hover {
    background-color: rgb(236, 236, 236);
}
#information-table-hosvital-name i {
    font-size: 26px;
    color: #00adef;
    cursor: pointer;
}